appxml/model.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.cpw.com/model/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cpw="http://www.cpw.com/model/">
    <element name="model" type="cpw:Model"></element>
    
    <complexType name="Model">
    	<sequence maxOccurs="unbounded" minOccurs="1">
    		<choice>
    			<element name="bitset" type="cpw:Bitset"
    				maxOccurs="unbounded" minOccurs="0">
    			</element>
    			<element name="list" type="cpw:List"
    				maxOccurs="unbounded" minOccurs="0">
    			</element>
    			<element name="struct" type="cpw:Struct"
    				maxOccurs="unbounded" minOccurs="0">
    			</element>
    			<element name="entity" type="cpw:Entity"
    				maxOccurs="unbounded" minOccurs="0">
    			</element>
    			<element name="message" type="cpw:Message"
    				maxOccurs="unbounded" minOccurs="0">
    			</element>
    			<element name="interface" type="cpw:Interface"
    				maxOccurs="unbounded" minOccurs="0">
    			</element>
    			<element name="service" type="cpw:Service"
    				maxOccurs="unbounded" minOccurs="0">
    			</element>
    			<element name="class" type="cpw:Class"
    				maxOccurs="unbounded" minOccurs="0">
    			</element>
    			<element name="function" type="cpw:Function"
    				maxOccurs="unbounded" minOccurs="0">
    			</element>
    		</choice>
    	</sequence>
    	<attribute name="name" type="string"></attribute>
    	<attribute name="NewAttribute" type="string"></attribute>
    </complexType>

    <complexType name="NamedObj">
    	<sequence>
    		<element name="desc" type="string"></element>
    	</sequence>
    	<attribute name="name" type="NCName"></attribute>
        <attribute name="label" type="string"></attribute>
        <attribute name="desc" type="string"></attribute>

    </complexType>

    <complexType name="Bitset">
        <annotation>
        	<documentation>bitset (set of booleans) represented by an integer.</documentation>
        </annotation>
        <complexContent>
    		<extension base="cpw:NamedObj">
    			<sequence>
    				<element name="item" type="cpw:BitsetItem" maxOccurs="unbounded" minOccurs="1"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="List">
        <annotation>
        	<documentation>list of enums (ListItem).</documentation>
        </annotation>
        <complexContent>
    		<extension base="cpw:NamedObj">
    		    <sequence>
    				<element name="item" type="cpw:ListItem" maxOccurs="unbounded" minOccurs="1"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="BitsetItem">
    	<annotation>
    		<documentation>one bit in bitset.</documentation>
    	</annotation>
    	<complexContent>
    		<extension base="cpw:NamedObj">
    			<attribute name="default" type="boolean"></attribute>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="ListItem">
    	<complexContent>
    		<extension base="cpw:NamedObj">
    			<attribute name="value" type="int"></attribute>
    			<attribute name="literal" type="string"></attribute>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="Struct">
    	<complexContent>
    		<extension base="cpw:NamedObj">
    			<sequence>
    				<element name="property" type="cpw:Property" maxOccurs="unbounded" minOccurs="1"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="Property">
    	<complexContent>
    		<extension base="cpw:NamedObj">
    			<attribute name="type" type="string"></attribute>
    			<attribute name="size">
    				<simpleType>
    					<restriction base="string">
    						<pattern
    							value="((\d+)?(\.\.((\d+)?|\*))?)|\*|\?|\+">
    						</pattern>
    					</restriction>
    				</simpleType>
    			</attribute>
    			<attribute name="default" type="string"></attribute>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="Interface">
    	<complexContent>
    		<extension base="cpw:NamedObj">
    		    <sequence>
    				<element name="property" type="cpw:Method" maxOccurs="unbounded" minOccurs="1"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="Function">
    	<complexContent>
    		<extension base="cpw:NamedObj">
    		    <sequence>
    				<element name="arg" type="cpw:Arg" maxOccurs="unbounded" minOccurs="1"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="Arg">
        <complexContent>
    		<extension base="cpw:NamedObj"></extension>
    	</complexContent>
    </complexType>   
    
    <complexType name="Method">
    	<complexContent>
    		<extension base="cpw:Function"></extension>
    	</complexContent>
    </complexType>
    
    <complexType name="Entity">
    	<complexContent>
    		<extension base="cpw:NamedObj">
    			<sequence>
    				<element name="key" type="cpw:EntityKey"
    					maxOccurs="1" minOccurs="0">
    				</element>
    				<element name="field" type="cpw:EntityField" maxOccurs="unbounded" minOccurs="0"></element>
    			</sequence>
    			<attribute name="key" type="string"></attribute>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="Message">
        <complexContent>
    		<extension base="cpw:Struct"></extension>
    	</complexContent>
    </complexType>
    
    <complexType name="Class">
    	<complexContent>
    		<extension base="cpw:Struct">
    			<sequence>
    				<element name="method" type="cpw:Method" maxOccurs="unbounded" minOccurs="1"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="Service">
        <complexContent>
    		<extension base="cpw:NamedObj"></extension>
    	</complexContent>
    </complexType>    

    <complexType name="EntityKey"></complexType>

    <complexType name="EntityField"></complexType>
</schema>
